<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"
      th:with="title='Products'"/>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Products</span>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="newProduct">Create new products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="newCategory">Add new category</a>
        </li>
    </ul>
</nav>
<div class = "container-fluid">
    <div class = "row">
        <div class="col" align="center">
            <h1>Products</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm card">
                    <div class="row card-header">
                        <span>Search by id</span>
                    </div><br/>
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/search}" th:object="${product}" method="post">
                        <input class="form-control mr-sm-2" type="text" name="id" placeholder="Enter Id"/>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form><br/>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-sm">
                    <form action="#" th:action="@{/cancel}" th:object="${product}" method="post">
                        <button type="submit">Cancel</button>
                    </form>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-sm card">
                    <div class="row card-header">
                        <span>Filtering by category </span><br/>
                    </div><br/>
                    <form action="#" th:action="@{/filter}" th:object="${product}" method="post">
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <select class="custom-select mr-sm-2" name="category">
                                    <option th:each="category : ${categories}"
                                            th:value="${category.nameCategory}"
                                            th:text="${category.nameCategory}">
                                    </option>
                                </select>
                            </div>
                            &nbsp;&nbsp;<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
                        </div>
                    </form><br/>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-sm">
                    <a href="discount" class="btn btn-primary">Discount for Category</a>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-sm card">
                    <div class="row card-header">
                        <span>Sorting</span><br/>
                    </div>
                    <form action="#" th:action="@{/sorting}" th:object="${product}" method="post">
                        <div class="form-c>heck form-check-inline">
                            <input class="form-check-input" type="radio" name="sortVariables" id="inlineRadio1" value="sortByName">
                            <label class="form-check-label" for="inlineRadio1" >By name</label>
                        </div><br/><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortVariables" id="inlineRadio2" value="sortByCategory">
                            <label class="form-check-label" for="inlineRadio2">By category</label>
                        </div><br/><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortVariables" id="inlineRadio3" value="sortByPrice">
                            <label class="form-check-label" for="inlineRadio3">By price</label>
                        </div><br/><br/>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortVariables" id="inlineRadio4" value="sortByDiscount">
                            <label class="form-check-label" for="inlineRadio4">By discount</label>
                        </div><br/><br/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sort</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}">ID</td>
                    <td th:text="${product.name}">Name</td>
                    <td th:text="${product.price}">Price</td>
                    <td th:text="${product.category}">Category</td>
                    <td th:text="${product.discount}">Discount</td>
                    <td>
                        <a th:href="@{'/editProduct/' + ${product.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a th:href="@{'/deleteProduct/' + ${product.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>